name: Build wheels

on:
  push:
    branches: [main]

jobs:
  source:
    name: Build source distribution
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt update && sudo apt install libopenblas-dev -y

      - name: Build sdist
        run: pipx run build --sdist

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-sdist
          path: dist/*.tar.gz

  unix:
    name: ${{ matrix.os }} | ${{ matrix.arch }} | ${{ matrix.python }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm, macos-14]
        arch: [auto, armv7l]
        python: [cp310-*, cp311-*, cp312-*, cp313-*, cp314-*]
        include:
          - os: macos-14
            macos_deployment_target: 14
        exclude:
          - os: ubuntu-24.04
            arch: armv7l
          - os: macos-14
            arch: armv7l

    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.2.1
        env:
          MACOSX_DEPLOYMENT_TARGET: ${{ matrix.macos_deployment_target }}
          CIBW_ARCHS: ${{ matrix.arch }}
          CIBW_BUILD: ${{ matrix.python }}
          CIBW_SKIP: "*-musllinux*"
          CIBW_TEST_REQUIRES: pytest
          # TODO: why does this test fail with pytest but not with unittest?
          CIBW_TEST_COMMAND: "pytest {project} --ignore={project}/test/python/error_mode_test.py"

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl
